<div class="container">
    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        &nbsp; Add Channel
    </button>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="thead-light">
                <tr>
                    <th>Sl.no</th>
                    <th>Channel Name</th>
                    <th>No.of videos</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>unbox therapy</td>
                    <td>23</td>
                    <td>Some quick example text.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>UI/UX daily</td>
                    <td>24</td>
                    <td>Some quick example text.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Taylor Jackson</td>
                    <td>100</td>
                    <td>Some quick example text.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Taylor Jackson</td>
                    <td>100</td>
                    <td>Some quick example text.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Taylor Jackson</td>
                    <td>100</td>
                    <td>Some quick example text.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- toggle data -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title my-auto" id="exampleModalLabel">Add Channel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="label">Channel Name</label>
                <input class="form-control">
                <label class="label">Channel Description</label>
                <textarea class="form-control" rows="3"></textarea>
                <br>
                <div class="text-center">
                    <button class="btn btn-info">Add Channel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
